body{
    background-color: plum;
}
h1{
    color: purple;
}
label{
 display: flex;
 flex-direction: column;
 color: purple;
  }
input.btn {
    background-color: pink;
}
input.btn:active {
    background-color: antiquewhite;
}
.hidden{
    display: none;
    
}
